
html {
    font-size: 15px;
    overflow-x: hidden;
}

h1 {
    font-family: 'Audiowide', cursive;
    color: #cacaca;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}



h2 {
    font-size: 1.1rem;
    font-size: 'Kanit', sans-serif;
    font-weight: 300;
    color: #dfdfdf;
}


/* BACKGROUND COLOURS */
.ocean-gradient-bg {
    /* background: linear-gradient(88.69deg, #3493e669 4.92%, #4967fe62 96.69%); */
    width: 100vw;
    
}

.light-bg {
    background: linear-gradient(290.17deg, #fafafa77 0.89%, #ecffff85 107.02%);
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-bg > * {
    color: #292E38;
}

@media screen and (min-width: 750px) {
    
    html {
        font-size: 18px;
    }
}