
.projs-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.proj-card {
    background: linear-gradient(234.3deg, rgba(226, 228, 233, 0.297) 3.98%, rgba(129, 188, 207, 0.3078) 96.21%);
    box-shadow: 6px 6px 6px rgba(38, 38, 38, 0.43);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    width: 90%;
    height: 70%;
    padding: 40px 20px;
    
}

.proj-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.title-proj {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title-proj p {
    font-weight: 300;
}

.title-proj h1 {
    font-size: 1.4rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.abaco h1 {
    color: #70CA79;
}

.peca-fruta h1 {
    color: #FFA000;
}

.cripto h1 {
    color: #B8B8B8;
}

.met h1 {
    color: #F0E051;
}

.hide {
    display: none;
}


.img-website, .img-mobile {
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));
    transition: transform 2s ease-in-out;
}

.img-website {
    width: 60vw;
    height: 25vh;
    border-radius: 10px;

}

.img-mobile {
    height: 40vh;
    width: 25vw;
    border-radius: 5px;
    min-width: 140px;
}

.proj-card:first-child .img-website:nth-child(3) {
    background: url(../Imagens/abaco_16_9.png);
    background-size: cover;
}

.proj-card:nth-child(2) .img-website:nth-child(3) {
    background: url(../Imagens/pecafruta.png);
    background-size: cover;
}

.proj-card:nth-child(3) .img-mobile:nth-child(2) {
    background: url(../Imagens/cripto_1.png);
    background-size: cover;
}

.proj-card:nth-child(3) .img-mobile:nth-child(4) {
    background: url(../Imagens/inbox01.png);
    background-size: cover;
}

.proj-card:nth-child(4) .img-mobile:nth-child(2) {
    background: url(../Imagens/smartphone.png);
    background-size: cover;
}

.proj-card:nth-child(4) .img-mobile:nth-child(4) {
    background: url(../Imagens/smartphone_metpt.png);
    background-size: cover;
}

@media screen and (min-width: 900px) {

    .img-mobile:hover, .img-website:hover {
        transform: scale(1.1);
    }

    .proj-card img {
        display: none;
    }

    .proj-wrap {
        width: 90%;
    }

    .projs-flex a:nth-child(1) .proj-wrap, .projs-flex a:nth-child(2) .proj-wrap {
        flex-direction: column;
        align-items: center;
        gap: 8vh;
    }

    .hide {
        display: block;
    }
    
    .proj-card {
        width: 60%;
        height: 100%;
    }

    .img-website {
        height: 45vh;
        width: 50vw;
    }

    .img-mobile {
        height: 50vh;
        width: 15vw;
        
    }

    .projs-flex {
        gap: 15vh;
    }
    
}