
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:wght@300;400&display=swap');

@import url('projects.css');

@import url('fonts&background.css');

@import url('footer.css');

@import url('formulario.css');

@import url('skillset.css');

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #292E38;
    color: #E9E9E9;
    font-size: 16px; /* alterar para 24px em desktop */
}

.desktop {
    display: none;
}

.wrapper {
    width: 80vw;
    margin: 0 auto;
}

.cover, .whoami {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-case {
    text-transform: uppercase;
}

/* COVER */
.cover {
    justify-content: center;
    gap: 15vh;
    text-align: center;
}

.cover > section {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

/* WHO AM I - ARTICLE */
.whoami {
    justify-content: space-evenly;
}

.whoami p {
    text-indent: 2rem;
    line-height: 3rem;
    font-weight: 300;
    color: #c2c2c2;
}

.light-bg h1 {
    line-height: 150%;
    letter-spacing: 0.1rem;
    
}

/* padding para certos articles e correspondentes titles */
.art-padding {
    padding: 60px 0;
}

.art-padding > h1, .art-padding header > h1 {
    padding-bottom: 6vh;
}
/* CTA */
.mainBtn {
    padding: 10px 40px;
    background: linear-gradient(88.69deg, #3494E6 4.92%, #4967FE 96.69%);
    border-radius: 15px;
    font-weight: 300;
    font-size: 1.1rem;
    border: none;
    font-family: 'Audiowide', cursive;

}

.mainBtn:hover, .mainBtn:focus {
    background: linear-gradient(88.69deg, #c2c3c4 4.92%, #e2e4ee 96.69%);
    transition: all 1s ease-in;
    
}

button {
    color: #E4E4E4;
    cursor: pointer;
    width: 40%;
    align-self: center;
}

/* colocar o texto dentro da span em gradiente */
span, .mainBtn:hover > p, .skillset-sect > h1 {
    background: -webkit-linear-gradient(88.69deg, #3494E6 4.92%, #4967FE 96.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}