
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:wght@300;400&display=swap');

@import url('projects.css');

@import url('fonts&background.css');

@import url('footer.css');

@import url('formulario.css');

@import url('skillset.css');

@import url('animations.css');

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #292E38;
    color: #E9E9E9;
    font-size: 16px; /* alterar para 24px em desktop */
}

.desktop {
    display: none;
}

.wrapper {
    width: 80vw;
    margin: 0 auto;
}

.cover, .whoami {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-wrap {
    display: flex;
    flex-direction: column;
    height: 75vh;
    align-items: center;
    justify-content: space-around;
}

.upper-case {
    text-transform: uppercase;
}

/* COVER */
.cover {
    justify-content: center;
    gap: 15vh;
    text-align: center;
}

.cover > section {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

/* WHO AM I - ARTICLE */
.whoami {
    justify-content: space-evenly;
}

.whoami p {
    text-indent: 2rem;
    line-height: 3rem;
    font-weight: 300;
    color: #c2c2c2;
}

.light-bg h1 {
    line-height: 150%;
    letter-spacing: 0.1rem;
    
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(31, 92, 143, 0.29), rgba(31, 92, 143, 0.29)), url(../Imagens/profile_round_pic.png);
    box-shadow: 5px 5px 6px 5px rgba(29, 29, 29, 0.397);
    background-size:contain;
    transition-property: all;
    transition-duration: 1.5s;

}

/* padding para certos articles e correspondentes titles */
.art-padding {
    padding: 60px 0;
}

.art-padding > h1, .art-padding header > h1 {
    padding-bottom: 6vh;
}
/* CTA */
.mainBtn {
    padding: 10px 40px;
    background-image: linear-gradient(88.69deg, #ED7836 4.92%, #DD4B4B 87.61%);
    border-radius: 15px;
    font-weight: 300;
    font-size: 1.1rem;
    border: none;
    font-family: 'Audiowide', cursive;
    transition: background-image 1.5s ease-in;
}

.mainBtn:hover, .mainBtn:focus {
    background-image: linear-gradient(88.69deg, #c2c3c4 4.92%, #e2e4ee 96.69%);

}

button {
    color: #E4E4E4;
    cursor: pointer;
    width: 40%;
    align-self: center;
}

.text-slider-items {
    display: none;
}

/* colocar os textos em gradientes */

.mainBtn:hover > p, .skillset-sect > h1, span  {
    background: -webkit-linear-gradient(88.69deg, #ED7836 4.92%, #DD4B4B 87.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 600px) {
    
    body {
        font-size: 20px;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .profile-pic {
        height: 200px;
        width: 200px;
        /* background: linear-gradient(0deg, rgba(31, 92, 143, 0.29), rgba(31, 92, 143, 0.29)), url(../Imagens/profile_pic_300px.png); */
        
        
    }

    .wrapper {
        width: 60vw;
    }

    .text-wrap {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    }

    .text-wrap section:nth-child(2) {
        width: 50%;
    }
}