
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:wght@300;400&display=swap');

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #292E38;
    color: #E9E9E9;
    font-size: 16px; /* alterar para 24px em desktop */
}

.desktop {
    display: none;
}

.wrapper {
    width: 80vw;
    margin: 0 auto;
}

/* FONTS */
h1 {
    font-family: 'Audiowide', cursive;
    color: #cacaca;
    text-align: center;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.2rem;
    font-size: 'Kanit', sans-serif;
    font-weight: 300;
    color: #96989C;
}


/* BACKGROUND COLOURS */
.ocean-gradient-bg {
    background: linear-gradient(88.69deg, #3494E6 4.92%, #4967FE 96.69%);
    width: 100vw;
    
}

.light-bg {
    background: linear-gradient(290.17deg, #FFFFFF 0.89%, #AABBBB 107.02%);
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-bg > * {
    color: #292E38;
}

.cover, .whoami {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-case {
    text-transform: uppercase;
}

/* COVER */
.cover {
    justify-content: center;
    gap: 15vh;
    text-align: center;
}

.cover > section {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

/* WHO AM I - ARTICLE */
.whoami {
    justify-content: space-evenly;
}

.whoami p {
    text-indent: 2rem;
    line-height: 3rem;
    font-weight: 300;
    color: #c2c2c2;
}

/* CTA */
.mainBtn {
    padding: 10px 40px;
    background: linear-gradient(88.69deg, #3494E6 4.92%, #4967FE 96.69%);
    border-radius: 15px;
    font-weight: 300;
    font-size: 1.1rem;
    border: none;
    font-family: 'Audiowide', cursive;
}

input[type=submit] {
    color: #E4E4E4;
}

/* FORMULARIO */
.form {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

input, textarea {
    border-radius: 10px;
    border: 3px solid #e9e9e9;
    background-color:#292E38;
    padding: 10px 20px;
}

::placeholder {
    font-family: 'Audiowide', cursive;
    color: #e9e9e9;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    text-align: center;
}

/* colocar o texto dentro da span em gradiente */
span {
    background: -webkit-linear-gradient(88.69deg, #3494E6 4.92%, #4967FE 96.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8vw;
}

.social_media > a {
    text-indent: -9999px;
}

.linkedin, .insta, .github {
    background-image: url(Imagens/spritesheet.png);
}

/* MOBILE ICONS - depois nas media queries alterar estes valores pelos icones desktop */
.linkedin {
    width: 40px;
    height: 40px;
    background-position: -382px 0;
}

.insta {
    width: 40px;
    height: 40px;
    background-position: -342px 0;
}

.github {
    width: 42px;
    height: 40px;
}